<nav class="navbar">
  <span class="prompt"
    >root@0xK4z:~{% if page.title == 'home' %}{% else %}/{{ page.title }}{%
    endif %}$</span
  >
  {% include theme-toggle.html %}
  <ul>
    <li>
      <a
        href="{{ '/' | relative_url }}"
        class="{% if page.url == '/' %}active{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="{{ '/about/' | relative_url }}"
        class="{% if page.url contains 'about' %}active{% endif %}"
        >About</a
      >
    </li>
    <li>
      <a
        href="{{ '/skills/' | relative_url }}"
        class="{% if page.url contains 'skills' %}active{% endif %}"
        >Skills</a
      >
    </li>
    <li>
      <a
        href="{{ '/writeups/' | relative_url }}"
        class="{% if page.url contains 'writeups' %}active{% endif %}"
        >Writeups</a
      >
    </li>
    <li>
      <a
        href="{{ '/articles/' | relative_url }}"
        class="{% if page.url contains 'articles' %}active{% endif %}"
        >Articles</a
      >
    </li>
  </ul>
</nav>
