<nav class="navbar">
  <div class="nav-left">
    <span class="prompt">
      root@0xK4z:~{% if page.title != 'home' %}/{{ page.title }}{% endif %}$
    </span>

    <div class="nav-controls">
      <button
        id="matrix-toggle"
        class="nav-control-btn active"
        title="Ativar/Desativar Efeito Matrix"
      >
        <span class="btn-label">Matrix Effect</span>
        <span class="btn-status">[ON]</span>
      </button>

      {% include theme-toggle.html %}
  </div>

  <ul>
    <li>
      <a
        href="{{ '/' | relative_url }}"
        class="{% if page.url == '/' %}active{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="{{ '/about/' | relative_url }}"
        class="{% if page.url contains 'about' %}active{% endif %}"
        >About</a
      >
    </li>
    <li>
      <a
        href="{{ '/skills/' | relative_url }}"
        class="{% if page.url contains 'skills' %}active{% endif %}"
        >Skills</a
      >
    </li>
    <li>
      <a
        href="{{ '/writeups/' | relative_url }}"
        class="{% if page.url contains 'writeups' %}active{% endif %}"
        >Writeups</a
      >
    </li>
    <li>
      <a
        href="{{ '/articles/' | relative_url }}"
        class="{% if page.url contains 'articles' %}active{% endif %}"
        >Articles</a
      >
    </li>
  </ul>
</nav>
