<div class="writeups-list" id="content-list">
  {% for post in paginator.posts %}
  <div
    class="writeup-entry {% if post.complexity %}complexity-{{ post.complexity | downcase }}{% endif %}"
    data-title="{{ post.title | lowercase }}"
    data-tags="{{ post.tags | join: ' ' | lowercase }}"
  >
    <span class="date">[{{ post.date | date: "%Y-%m-%d" }}]</span>
    <a href="{{ post.url | relative_url }}" class="writeup-link">
      {{ post.title }}
    </a>
    <p class="summary">{{ post.summary | truncate: 120 }}</p>
    {% if post.complexity %}
    <span class="complexity-label">[{{ post.complexity | upcase }}]</span>
    {% endif %}
    {% if post.tags %}
    <div class="post-tags">
      {% for tag in post.tags %}
        <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}/" class="tag-link">
          <p class="summary tag-badge">{{ tag }}</p>
        </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
