<div class="theme-switch-wrapper">
 <button
        id="theme-toggle"
        class="nav-control-btn active"
        title="Mudar Tema (Light/Cyberpunk)"
      >
        <span class="btn-label">Theme</span>
        <span class="btn-status theme">[Default]</span>
      </button>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttonToogle = document.getElementById("theme-toggle");
    const htmlElement = document.documentElement;
    const btnTheme = document.getElementsByClassName('btn-status')[1]
    const savedTheme = localStorage.getItem("site-theme");
    if (savedTheme === "cyberpunk") {
      htmlElement.setAttribute("data-theme", "cyberpunk");
      btnTheme.innerText = "[cyberpunk]";
    }

    buttonToogle.addEventListener("click", () => {
      const currentTheme = htmlElement.getAttribute("data-theme");

      if (currentTheme !== "cyberpunk") {
        htmlElement.setAttribute("data-theme", "cyberpunk");
        localStorage.setItem("site-theme", "cyberpunk");
        btnTheme.innerText = "[cyberpunk]";
        return;
      }

      htmlElement.removeAttribute("data-theme");
      localStorage.setItem("site-theme", "default");
      btnTheme.innerText = "[default]";
    });
  });
</script>
