<div class="theme-switch-wrapper">
  <span class="cmd">sys@root:~$</span>
  <button id="theme-toggle" class="theme-btn" title="Toggle System Theme">
    ./chtheme.sh --cyberpunk
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buttonToogle = document.getElementById("theme-toggle");
    const htmlElement = document.documentElement;

    const savedTheme = localStorage.getItem("site-theme");

    if (savedTheme === "cyberpunk") {
      htmlElement.setAttribute("data-theme", "cyberpunk");
      buttonToogle.innerText = "./chtheme.sh --default";
    }

    buttonToogle.addEventListener("click", () => {
      const currentTheme = htmlElement.getAttribute("data-theme");

      if (currentTheme !== "cyberpunk") {
        htmlElement.setAttribute("data-theme", "cyberpunk");
        localStorage.setItem("site-theme", "cyberpunk");
        buttonToogle.innerText = "./chtheme.sh --default";
        return;
      }

      htmlElement.removeAttribute("data-theme");
      localStorage.setItem("site-theme", "default");
      buttonToogle.innerText = "./chtheme.sh --cyberpunk";
    });
  });
</script>
