<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>0xK4z@Portfolio:~$ {{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <canvas id="matrixCanvas"></canvas>
    <div class="terminal-window glitch-effect">
      {% include navbar.html %} 
      
     <main class="page-content">
        {{ content }}
    </main>
      <hr class="separator" />

      {% include soc-dashboard.html %}
      {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/script.js' }}"></script>
  </body>
</html>
