---
layout: default
---

<article class="post-content">
  <header class="post-header">
    <h2><span class="cmd">></span> cat {{ page.title }}.log</h2>
    <span class="subtitle"
      >Incident Date: {{ page.date | date: "%d/%m/%Y" }}</span
    >
    |
    <span class="subtitle">Tags:</span>
    <div class="post-tags">
      {% for tag in page.tags %}
      <a
        href="{{ '/tag/' | relative_url }}{{ tag | slugify }}/"
        class="tag-link"
      >
        <span class="tag-badge">{{ tag }}</span>
      </a>
      {% endfor %}
    </div>
    {% include reading-time.html %}
  </header>
  <hr class="separator" />
  <div class="post-main-container">
    <div class="markdown-body">{{ content }}</div>

    <aside class="post-sidebar">{% include table-of-contents.html %}</aside>
  </div>
  <footer>
    <a href="{{ '/writeups/' | relative_url }}" class="writeup-link"
      ><- Return</a
    >
  </footer>
</article>
<script src="/assets/js/copy-to-clipboard.js"></script>
