---
layout: default
pagination:
  enabled: true
  collection: writeupsection
autopage:
  collection: writeupsection
---

<section>
  <h2><span class="cmd">></span> ./list_writeups.sh --filter="ALL"</h2>
  <p class="subtitle glitch">
    // Mostrando registros de incidentes arquivados...
  </p>
  <br />
  {% include fuzzy-search.html %}
  <div class="main-content-layout">
    <div class="posts-column">
      {% include post-content.html %} {% include pagination.html %}
    </div>

    <aside class="sidebar-column">
      {% include tag-sidebar-writeups.html %}
    </aside>
  </div>
</section>
