* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-stack);
  line-height: 1.6;
  padding: 20px;
}

body,
background,
background-color,
border-color,
box-shadow {
  transition:
    background-color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
}

.markdown-body *,
.tag-sidebar,
.search-input-wrapper {
  transition:
    color 0.4s ease,
    background 0.4s ease;
}